/* Set padding to keep content from hitting the edges */
.body-content {
    margin-top: 15px;;
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

html {
    height: 100%;
}


#bg-forno {
    background-image: url(../../Content/Immagini/istockphoto-177807692-612x612.jpg);
    height: 30vh;
    background-size: cover;
    background-position: center;
}
#bg-forno {
    background-image: url(../../Content/Immagini/istockphoto-177807692-612x612.jpg);
    background-size: cover;
    background-position: center;
}

    #bg-forno {
        position: sticky;
        top: -11%;
        z-index: 1;
    }
    #logo-div {
        height: 15vh;
    }
    #description{
        font-size: 1.2em;
    }
 
}

@media (min-width: 992px) {
    #bg-forno {
        position: sticky;
        top: -7%;
        z-index: 1;
        height: 27vh;
    }
    #logo-div {
        height: 19vh;
    }
}

@media (min-width: 1072px) {
    #bg-forno {
        position: sticky;
        top: -14%;
        z-index: 1;
        height: 30vh;
    }
    #logo-div {
        height: 8vh;
    }
}

.bg-titles {
    background-color: #6c2f18b0;
}


