body {
    color:black !important;
}
h1, h2, h3, h4, h5, p {
    color: black !important;
}
@media (min-width: 768px) {
    #above {
        position: sticky;
        top: 0;
        z-index: 2;
    }
    }